@model IEnumerable<BrandViewModel>

<div class="brands_products">
    <!--brands_products-->
    <h2>Brands</h2>
    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            @foreach (BrandViewModel brandViewModel in Model)
            {
                <li><a asp-controller="Catalog" asp-action="Shop" asp-route-brandId="@brandViewModel.Id"> <span class="pull-right">@brandViewModel.ProductCount</span>@brandViewModel.Name</a></li>
            }
        </ul>
    </div>
</div>
